!!! XML
%Workbook(xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40")
  %Worksheet(ss:Name="Sheet1")
    %Table
      %Row
        %Cell
          %Data{ss:Type: "String"} ID
        %Cell
          %Data{ss:Type: "String"} Name
        %Cell
          %Data{ss:Type: "String"} Release Date
        %Cell
          %Data{ss:Type: "String"} Price
    - @products.each do |product|
      %Row
        %Cell
          %Data(ss:Type="Number")
            = product.id
        %Cell
          %Data(ss:Type="String")
            = product.name
        %Cell
          %Data(ss:Type="String")
            = product.released_on
        %Cell
          %Data(ss:Type="Number")
            = product.price
